@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    height: auto!important;
  }
}

@media only screen and (max-width: 995px){        /*ESTILOS PARA TABLET*/
   .slogan img{margin: 20px;float: right;width: 60% !important;} 
/*  .carousel-slider{height: 635px!important;}*/
  .text-carrucel{bottom: 0px;position: absolute;width: 100%;background-color:  rgba(255, 255, 255, 0.79);padding:6% 35%;}
  .info-carrucel h2{margin:10px 0px;}
  .azul-predo{display: block!important;}
  .slider .rows{display: none!important;}
  .noticias h6{font-size: 12px!important;width:15%!important;}
  .ca-nav .carousel-item a{font-size: 14px!important}
  .boton-menu{margin-bottom: 7px;font-size: .8em}
  ul#sub-menu{justify-content: flex-start;}
  .copyright{font-size: 12px;}
  #shadow-carrucel{display: none;}
  .redes .modal-trigger{display: none!important;}
  .ca-nav{width: 80%!important;overflow: hidden;}
  .noticias{flex-wrap: wrap;height: 65px!important;}
    .noticias .rows{width: 100%;text-align: center}
    .navigation{margin-bottom: 0px;}
    .slider{height: 637px!important}
    .slider .slides{height: 641px!important}
    .info-carrucel{width: 100%!important ;background: transparent;display: block;}
  /*  .carousel-slider{height: 635px!important;}*/
    .noticias{height: 75px!important}
    .noticias h6{width: 100%;display: inline-block;text-align: center;margin: 5px 0px;}
    .ca-nav{display: inline-block;height: 20px!important;}
    .carrete .rows{width: 100%;text-align: center;}
    .redes .modal-trigger{display: block;width: 100%;padding: 10px 0px;}
    .redes{float: none!important;transition: 1s;}
    .slider .rows{display: none;}
    .orange-btn{}
    .redes a{width: 100%;}
    #modal2{width: 50%;}
    .smenu{border-right: 0px}
    .sub-menu{border-bottom: 3px solid #ccc;}
    .botonera{border-bottom: 3px solid #ccc}
    .top{border-bottom: 3px solid #ccc}
    nav{border-bottom: 0px;}
    .nav-list li{width: 25%;max-width:inherit;min-width: inherit;}
}
@media only screen and (max-width: 768px){
  .noticias h6{width: 25%!important}
  .ca-nav{width: 72%!important}
}

@media only screen and (max-width: 599px){
  .main .container{width: 100%!important}
  .azul-predo{margin-bottom: 10px;font-size: 11px;}
  .text-carrucel{bottom: 0px;position: absolute;width: 100%;background-color:  rgba(255, 255, 255, 0.79);padding:6% 25%;padding-bottom: 2em;}
  .sub-menu{background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 31%, rgba(252,252,252,1) 71%, rgba(226,226,226,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(252,252,252,1)), color-stop(0%, rgba(252,252,252,1)), color-stop(0%, rgba(226,226,226,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 31%, rgba(252,252,252,1) 71%, rgba(226,226,226,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 31%, rgba(252,252,252,1) 71%, rgba(226,226,226,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 31%, rgba(252,252,252,1) 71%, rgba(226,226,226,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 100%, rgba(252,252,252,1) 100%, rgba(252,252,252,1) 100%, rgba(226,226,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#e2e2e2', GradientType=0 );}
  .copyright{text-align: center;}
  .redes{text-align: center;margin-top: 1em;}
  .sellos{text-align: center; zoom:.9;
    margin-top: 2em;}
  .noticias h6{width: 25%!important}
  .ca-nav{width: 72%!important}
  .nav-list li{max-width: inherit;min-width: inherit;width: 25%!important;margin-left: 0px;}
  {width: 100%;text-align: center;}
  .top{justify-content: space-around;overflow: hidden;display: flex;align-items:center;border-bottom: 0px;-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);z-index: 1000;}
  .navigation{margin-bottom: 0px;}
  nav{height: auto!important;}
  .nav-list li a{font-size: 16px;}
  #modal2{width: 80%;}
  .top div{width: 30%;}
  .top div img{width: 100%;}
  .carrete{-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);}
    nav{border-bottom: 0px}
}

@media only screen and (max-width: 350px){
  .text-carrucel{padding:6% 15%;}
}
