*, .nav-list li a
  font-family: gnp-mid

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0 1000px white inset !important

.botonera, .sub-menu, .top, nav
  border-bottom: 1px solid #ccc

#boton-env, .redes, .slider .rows div.nextSlide, .slogan
  float: right

*
  margin: 0

i
  color: #383838 !important

.top
  padding: 0px 0%
  position: relative
  div
    display: inline-block

.row
  margin-bottom: 0

nav
  background-color: #fff !important
  box-shadow: initial

.navigation
  margin-bottom: 15px

.nav-list
  display: flex
  justify-content: center
  li
    max-width: 150px
    min-width: 150px
    text-align: center
    a
      font-size: 17.19pt
      text-transform: uppercase
      height: 50px
      color: #1c4481
      font-weight: 500
      line-height: 15px
      display: flex
      align-items: center
      justify-content: center
    &.active a
      position: relative
      background-color: #fff
      color: #ff6e1f
      &:after
        content: ""
        border-top: 10px solid #ff6e1f
        position: absolute
        width: 100%
        bottom: 0
        left: 0

#shadow-carrucel
  background-image: url(../img/shadow-carrucel.png)
  height: 119px
  width: 100%
  position: absolute
  bottom: 0
  z-index: 1000

.carousel .indicators
  z-index: 10000000000000
  .indicator-item.active
    background-color: #ff6e1f

.info-car
  flex-direction: column
  justify-content: center
  width: 100% !important
  position: absolute
  height: 100%
  top: 0 !important
  right: 0
  text-align: center
  h2
    color: #1d3c7a
    font-size: 2em
    font-family: gnp-light
    height: 40px

.orange-btn
  font-size: 1.4em
  font-family: gnp-bold
  background-color: #ff6e1f !important
  -webkit-box-shadow: 0 -5px 5px 0 rgba(50, 50, 50, 0.27)
  display: inline-table
  margin: 0 auto 35px
  -moz-box-shadow: 0 -5px 5px 0 rgba(50, 50, 50, 0.27)
  box-shadow: 0 -5px 5px 0 rgba(50, 50, 50, 0.27)
  border-radius: 5px
  &:hover
    background-color: #1d3c7a

.text-car
  font-family: Arial
  font-size: 12pt
  color: #1d3c7a
  line-height: 20px
  width: 200px
  margin: 0 auto
  background-color: rgba(255, 255, 255, 0.79) !important
  width: 100%
  height: 100%
  margin-top: 20px
  strong
    font-family: gnp-bold
    font-weight: 700
    font-size: 12pt
    background-color: rgba(255, 255, 255, 0.79) !important

.ca-nav .carousel-item a, .noticias h6
  font-weight: 700
  font-family: Arial

.slider
  .slides li .caption
    left: initial !important
  height: 400px !important

.noticias
  height: 35px !important
  .slides
    height: 35px !important

.slider .indicators
  z-index: 1000
  .indicator-item.active
    background-color: #ff6e1f !important

.arrowresponsible
  i
    color: #ff6e1f !important
    font-size: 92px
    text-shadow: 0 0 10px rgba(150, 150, 150, 1)
    cursor: pointer
  z-index: 10000000000000000000000000000000
  display: none
  position: relative
  bottom: 0px
  margin: 0 auto
  left: 0
  right: 0
  text-align: center

.azul-predo
  background-color: #1d3c7a
  margin-top: 10px
  margin-bottom: 0
  display: none
  font-size: 0.7em !important

.noticias
  padding: 15px 0
  overflow: hidden
  display: flex
  justify-content: center
  .slides li
    display: inline-block
    box-sizing: border-box
    &.active
      position: absolute
      top: 0
  h6
    margin: 0
    color: #1c4481
    text-decoration: underline
    font-size: 14pt
    border-right: 1px solid #ccc
    padding-right: 0
    display: inline-table

.main
  background-color: #edece6

.ca-nav
  height: 20px !important
  width: 60% !important
  .indicators
    display: none
  .carousel-item a
    display: block
    text-align: left
    color: #464546

.boton-menu, .input-field, .smenu, .title-form
  text-align: center

.boton-menu, .smenu a
  font-family: gnp-bold

.alerta-icon
  color: #eeab1a !important

.carousel.carousel-slider .carousel-item
  min-height: auto !important
  height: 50%

.slider .rows
  position: absolute
  bottom: 60%
  display: block
  font-size: 62px
  width: 100%
  z-index: 10
  div
    display: inline-block
    padding: 0 50px
    z-index: 10

.rows i
  margin: 0 5px
  color: #ff6e1f !important
  cursor: pointer

.fa-pause
  font-size: 17px !important
  -webkit-text-stroke: 4px #edece6

.modal.bottom-sheet
  max-height: 65% !important

.slides
  z-index: 100000000000000

.ca-nav .carousel-item
  padding-left: 20px

.botonera
  padding: 10px

.boton-menu
  padding: 0
  background-color: #1d3c7a
  display: flex
  flex-direction: column
  justify-content: center
  border-radius: 3px
  color: #fff
  font-size: 12px !important
  height: 60px
  line-height: 11px
  img
    display: block
    margin: 0 auto
    height: 40%

.sub-menu
  padding: 10px 0
  overflow: hidden !important

ul#sub-menu
  list-style-type: none
  display: flex
  justify-content: center
  align-items: center

.smenu
  padding: 0 1px
  border-right: 3px solid #d2d1cc
  min-width: 150px
  a
    font-weight: 900
    color: #22231e
    font-size: 15px
    line-height: 0

.descripcion, .descripcion-seguro h3
  font-family: Arial
  text-align: center

#scroller div
  padding-right: 0 !important

footer
  padding: 25px 10%

.descripcion-seguro
  padding: 10%
  h3
    font-size: 19px
    font-weight: 500
    color: #686767
    text-align: center

.descripcion
  color: #383838
  font-size: 12.66px

#enlaces-seguro li a
  color: #ff6800
  font-family: arial
  font-size: 12px
  i
    color: #ff6800 !important
    margin-right: 10px

.input-field
  .select-wrapper
    margin-right: 20px
  label
    width: 90% !important
    margin-left: 25px
    color: #072e6e
    font-family: Helvetica
  p.choice label
    position: relative !important

.title-form
  color: #fff
  background: #072e6e
  font-family: Arial
  font-size: 12px
  padding: 10px

.modal .modal-content, .modal-content .col
  padding: 0

.formulario-cotiza
  background-color: #e5e5e5
  font-family: arial

.carousel-item.active
  width: 100% !important

#modal2
  min-height: 100% !important
  width: 30%
  left: initial

h3.articulosInteres
  color: #fff
  background: orange
  padding: 20px 0
  font-size: 22px
  text-align: center

#articulosInteres
  padding: 20px
  background: 0 0
  box-shadow: initial
  border: 0

.collapsible-header
  span
    width: 100%
  padding: 0
  border-bottom: 0
  background: 0 0
  color: orange
  i
    color: orange

.redes a
  font-family: arial
  font-weight: 700
  font-size: 12px
  color: #676766
  margin-left: 10px

.choice span, .input-field.col label
  font-family: Arial
  font-size: .9rem !important

.descripcion
  padding: 20px 0
  text-align: center

.input-field.col label
  margin: 0

.contents-form
  padding: 10px

.btn-cotizar
  margin-right: 30%

#boton-env
  background: #ff6800
  border: 0
  color: #fff
  border-radius: 5px
  padding: 2px 20px
  font-size: 1.5em
  line-height: 1.5em
  font-family: 'Frutiger LT 55 Roman'

.modal .modal-close
  background: #072e6e
  border: 0
  color: #fff
  border-radius: 5px

input[type=text]:not(.browser-default)
  width: 90%

.submit-field
  text-align: left !important

.dropdown-content li
  min-height: 30px

.obligatorio spam
  color: #ff6800

.banner h3, .choice span
  color: #072e6e

.dropdown-content li >
  a, span
    color: #072e6e

.select-wrapper input.select-dropdown
  height: 3rem !important
  position: relative
  cursor: pointer
  background-color: transparent
  border: none
  border-bottom: 1px solid #9e9e9e
  outline: 0
  line-height: 3rem
  width: 100%
  font-size: 1rem
  margin: 0 0 20px
  padding: 0
  display: block
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.input-field.choice label
  pointer-events: all

.choice
  p
    display: inline-block
  span
    display: block
    font-size: .8rem
  text-align: left
  margin-top: 0

.banner, .circulo
  text-align: center

.banner
  margin-top: 30px
  h3
    font-family: gnp-bold !important
    font-weight: 100
    font-size: 1.6rem
    letter-spacing: -.5px
    margin-bottom: 10px

.circulo, .outc
  background: #233568
  margin: 0 auto

.banner
  h3 span
    color: #ff6800
    text-shadow: 0 0 6px rgba(150, 150, 150, 1)
  h4
    font-size: 1.6rem
    color: #072e6e

.responsible
  display: none
  animation: fadeIn 1s

.outc
  width: 110px
  height: 110px
  -moz-border-radius: 55px
  -webkit-border-radius: 55px
  border-radius: 55px
  border: 5px solid #233568

.circulo
  width: 100px
  height: 100px
  -moz-border-radius: 50px
  -webkit-border-radius: 50px
  border-radius: 50px
  padding-top: .4em
  color: #fff
  font-size: 3em
  border: 3px solid #fff
  p
    font-size: 1em

.noticias .rows
  font-size: 1.4em !important

.flickity-slider
  left: -8em !important

.gallery
  background: rgba(226, 226, 226, 1)

.gallery-cell
  width: 35%
  height: 100px
  margin-right: 10px
  p
    line-height: 1em
    font-size: 1.1em
    font-family: gnp-bold
    color: #22231e
    text-align: center
    a
      font-size: 1em
      font-family: gnp-bold
      color: #22231e
      text-align: center
  &.is-selected
  &:before
    display: block
    text-align: center
    line-height: 200px
    font-size: 80px
    color: white

.flickity-next-next-button, .flickity-prev-next-button, .flickity-page-dots
  display: none

h5
  font-size: 15px !important

.espacio-lados p
  color: #383838 !important
  font-size: 12px !important
  font-family: arial !important

.icono-espacio
  font-size: 40px !important
  margin-left: 2em !important
  margin-top: 5px !important

.texto-auto
  text-align: center !important

@media only screen and (max-width: 599px)
  .top
    z-index: 100 !important

.texto-azul
  color: #213f7f
  font-family: arial

.tt
  font-weight: 500 !important
  font-size: 1.5em !important
  color: #383838

.tip-text-bold
  font-family: arial
  font-weight: bold

.tip-text
  font-family: arial
  color: #383838
  font-size: 14px

.seguro-auto
  font-size: 16px !important
  margin-top: -30px
  margin-left: 1.5em
  color: #213f7f

.material-icons
  color: #213f7f !important
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  -webkit-font-feature-settings: 'liga'
  -webkit-font-smoothing: antialiased
  margin-top: 13px

.flecha-menu
  margin-left: 0px
  margin-top: 0em

.flecha-menu2
  margin-left: 12px !important
  margin-top: -6px !important
  margin-bottom: -8px

.flecha-menu3
  margin-left: 7px !important
  margin-top: -7px !important
  margin-bottom: -3px

.punto-amarillo
  left: -2em
  display: inline-block
  position: relative
  cursor: pointer
  height: 5px
  width: 5px
  margin: 2px 15px
  background-color: #ff6423
  -webkit-transition: background-color .3s
  transition: background-color .3s
  border-radius: 50%
  top: 21px

.fondo-li
  color: white
  background-color: #223e7d
  width: 100%
  height: 67px
  margin-top: -16px

.fondo-li-gris
  color: white !important
  background-color: #666
  width: 100%
  height: 70px
  margin-top: -13px

.color-blanco
  color: #223e7d

div.scroll_horizontal
  width: 100%
  overflow: auto
  border: 1px solid transparent
  background-color: transparent
  padding: 8px

.statik
  background-color: #d9d9d9 !important
  height: 100% !important
  padding: 10px 10px 10px 30px !important
  width: 100% !important

.sub-tex
  margin-left: 26px

.desktop
  color: #666 !important
  background-color: white !important
  height: 100% !important
  padding: 10px 0px 10px 0px !important
  width: 100% !important

.hr
  opacity: .5
  height: .5px
  border: 0
  background-color: #666

.texto:hover
  color: #ff6c0c

.titulo-menu
  padding: 26px 10px 0px 0px !important

.texto-naranja
  .url
    font-family: arial !important
    font-size: 12px !important
  color: #f36f28
  font-family: arial

.links
  color: #2267a7

td
  font-family: gnp-mid
  color: #284278 !important
  text-align: center !important

th
  font-family: gnp-bold
  color: #284278 !important
  text-align: center !important

.color-titulo-tab
  margin-bottom: 0px
  font-family: gnp-bold
  color: white !important
  text-align: center !important
  background-color: #072e6e
  font-size: 16px
  padding: 10px 0px 10px 0px

.color1-tab
  background-color: #e5e5e5

.color2-tab
  background-color: #f2f1f1

.auto-elite
  background-image: url("../img/auto-elite.jpg")
  height: 200px
  background-position: center top
  background-size: cover

.personas
  background-image: url("../img/familia.jpg")
  height: 200px
  background-position: center top
  background-size: cover

.seguro-basico
  background-image: url("../img/seguro-basico.jpg")
  height: 200px
  background-position: center top
  background-size: cover

.a
  padding: inherit !important
  color: #616161

.top-home
  padding: 1px 0px 0px 0px
  position: relative

.material-iconss
  color: white !important
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  -webkit-font-feature-settings: 'liga'
  -webkit-font-smoothing: antialiased
  margin-top: -46px !important
  margin-left: 220px !important

.linea
  border-bottom: 2px solid rgba(159, 170, 192, 0.2) !important
  border-bottom: 2px solid rgba(159, 170, 192, 0.2) !important
  border-left: 2px solid rgba(159, 170, 192, 0.2) !important
  border-right: 2px solid rgba(159, 170, 192, 0.2) !important

.title-form
  font-size: 1.2em !important

.tx-menu
  font-size: 17px !important
  text-align: center

.tx-sub-men
  margin-left: 26px

.tx-sub
  font-size: 17px !important
  text-align: center

input
  &:not([type]), &[type=date]:not(.browser-default), &[type=datetime-local]:not(.browser-default), &[type=datetime]:not(.browser-default), &[type=email]:not(.browser-default), &[type=number]:not(.browser-default), &[type=password]:not(.browser-default), &[type=search]:not(.browser-default), &[type=tel]:not(.browser-default), &[type=text]:not(.browser-default), &[type=time]:not(.browser-default), &[type=url]:not(.browser-default)
    background-color: transparent
    border: none
    border-bottom: 1px solid #072e6e !important
    border-radius: 0
    outline: 0
    height: 3rem
    width: 100%
    font-size: 1rem
    margin: 0 0 20px
    padding: 0
    -webkit-box-shadow: none

textarea.materialize-textarea
  background-color: transparent
  border: none
  border-bottom: 1px solid #072e6e !important
  border-radius: 0
  outline: 0
  height: 3rem
  width: 100%
  font-size: 1rem
  margin: 0 0 20px
  padding: 0
  -webkit-box-shadow: none

.input-field label
  color: #072e6e !important
  position: absolute
  top: 0
  left: 0
  height: 100%
  font-size: .9rem !important
  cursor: text
  -webkit-transition: -webkit-transform .2s ease-out
  transition: -webkit-transform .2s ease-out
  transition: transform .2s ease-out
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
  -webkit-transform-origin: 0 100%
  transform-origin: 0 100%
  text-align: initial
  -webkit-transform: translateY(12px)
  transform: translateY(12px)
  pointer-events: none
  &:hover
    color: #072e6e !important
    background-color: rgba(0, 0, 0, 0)

.select-wrapper.valid > input.select-dropdown
  border-bottom: 1px solid #072e6e !important
  -webkit-box-shadow: 0 1px 0 0 #072e6e !important
  box-shadow: 0 1px 0 0 #072e6e !important

input
  &.valid:not([type]), &[type=date].valid:not(.browser-default), &[type=datetime-local].valid:not(.browser-default), &[type=datetime].valid:not(.browser-default), &[type=email].valid:not(.browser-default), &[type=number].valid:not(.browser-default), &[type=password].valid:not(.browser-default), &[type=search].valid:not(.browser-default), &[type=tel].valid:not(.browser-default), &[type=text].valid:not(.browser-default), &[type=time].valid:not(.browser-default), &[type=url].valid:not(.browser-default)
    border-bottom: 1px solid #072e6e !important
    -webkit-box-shadow: 0 1px 0 0 #072e6e !important
    box-shadow: 0 1px 0 0 #072e6e !important
    &:focus
      border-bottom: 1px solid #072e6e !important
      -webkit-box-shadow: 0 1px 0 0 #072e6e !important
      box-shadow: 0 1px 0 0 #072e6e !important

textarea.materialize-textarea.valid
  border-bottom: 1px solid #072e6e !important
  -webkit-box-shadow: 0 1px 0 0 #072e6e !important
  box-shadow: 0 1px 0 0 #072e6e !important
  &:focus
    border-bottom: 1px solid #072e6e !important
    -webkit-box-shadow: 0 1px 0 0 #072e6e !important
    box-shadow: 0 1px 0 0 #072e6e !important

.recfoo
  height: 60%

.pdf
  height: 1.5em
  margin-bottom: 0
  margin-left: -1.5em
  margin-right: .3em

.formapartado
  color: #072e6e
  font-family: arial !important
  font-size: 12px !important

.nb
  p, h5
    color: #383838

.button-collapse
  right: 1em
  position: absolute
  margin: .7em
  i
    color: #213f7f !important
    font-size: 1.5em

.termsp
  font-size: 11px

.dsc
  display: inline-flex !important

.tl
  position: initial !important

@media (orientation: portrait)
  .all-gnp
    display: block
  .noland
    display: none

@media (orientation: landscape)
  .all-gnp
    display: none
  .noland
    display: block
    text-align: center
    margin: 5em
    p
      font-size: 1.5em
      color: #1c4481
      font-family: gnp-bold
      line-height: 15px
      margin: 20px
    i
      color: #1c4481

@media only screen and (min-width: 601px)
  .btn-cotizar
    margin-right: 40%
  .botontab
    font-size: 9px !important
    line-height: 6pt !important
    padding: 7pt 0pt !important

@media only screen and (max-width: 992px)
  .nav-list li a
    line-height: 20px
    font-size: 15pt

@media only screen and (max-width: 600px)
  .nav-list li a
    line-height: 15px

.gastos-medicos
  background-image: url("../img/gastos-medicos.jpg")
  height: 200px
  background-position: center top
  background-size: cover

.seguro-personal
  background-image: url("../img/seguro-accidentes-personales.jpg")
  height: 200px
  background-position: center top
  background-size: cover

.espacio-lados2
  color: #383838 !important
  font-size: 9px !important
  font-family: arial !important

.strong-recomendaciones
  color: #383838
  font-family: gnp-bold

.cotizador-texto
  text-align: center !important
  font-family: gnp-bold

.color-texto-bien
  color: #686767
  font-size: 20px !important
  padding: 15px 0px 15px 0px

.tipo-arial
  font-family: arial

.texto-azul-tipo-txt
  font-family: arial !important
  color: #213f7f

.tab2-img
  font-size: 11px

.texto-azul-cotizador
  font-size: 12px !important
  font-family: arial
  font-weight: bold
  color: #1d3b79 !important

.texto-color-naranja
  color: #ff6801 !important

.cotizador
  background-image: url(../img/seguro.jpg)
  height: 200px
  background-position: center
  background-size: cover

.tabs-display
  display: none !important

.tab2-derecha
  text-align: right !important
  margin-right: 21px

.tab2-izquierda
  text-align: left !important

.imagenes-tab2, .imagenes2-tab2
  height: 80px

.espacio-img
  margin-left: 17px !important

.imagen-tab3-iconos
  height: 40px

.texto-descripcion-tab3
  font-size: 10px

.icono-tab2
  height: 40px

.texto-forma
  color: #072e6e

.color-texto-seguro-ideal
  font-family: arial
  color: #686767
  font-size: 19px !important
  text-align: center
  font-weight: 500 !important

.color-texto-seguro-ideal-sub
  color: #1c4481 !important
  font-size: 18px !important
  text-align: center
  font-family: arial
  font-weight: bold !important

.descripcion-centrado
  font-family: arial
  color: black

.descripcion-seguro2
  padding: 0% 10% 0% 7%

.boton-siguiente
  margin-top: -3em !important

.tx-sub-men a
  padding: 0 0 !important
  font-family: inherit !important
  text-align: center !important
  color: #223e7d !important

.linea-gnp
  height: 60px

strong .texto-naranja
  font-size: 14px
  text-align: center

.texto-naranja u
  font-family: arial
  font-size: 17px

.texto-azul
  font-size: 12px
  b
    font-size: 14px
    font-family: arial

.sub
  font-family: arial
  font-weight: bold
  font-size: 17px

.boton-azul
  background: #213e7b
  border: 0
  color: #fff
  border-radius: 5px
  padding: 5px 20px
  margin-right: 1em
  font-size: .7em
  line-height: 1.5em
  font-family: 'Frutiger LT 55 Roman'

.boton-regresar
  background: #c4c4c4
  border: 0
  color: #7a7a7a
  border-radius: 5px
  padding: 5px 10px
  margin-right: 1em
  font-size: 13px
  line-height: 1.5em
  font-family: 'Frutiger LT 55 Roman'

.boton-enviar
  background-color: #ff6800 !important
  border: 0
  color: #fff !important
  border-radius: 5px
  padding: 2px 8px
  font-size: 1.5em
  line-height: 1.5em
  font-family: 'Frutiger LT 55 Roman'

.boton-enviar1
  background: #ff6800
  border: 0
  color: #fff
  border-radius: 5px
  padding: 5px 10px
  font-size: 13px
  line-height: 1.5em
  font-family: 'Frutiger LT 55 Roman'

.boton-enviar2
  background: #ff6800
  border: 0
  color: #fff
  border-radius: 5px
  padding: 2px 8px
  font-size: 1.2em
  line-height: 1.5em
  font-family: 'Frutiger LT 55 Roman'

.boton-enviar3
  background: #ff6800
  border: 0
  color: #fff
  border-radius: 5px
  padding: 9px 20px
  font-size: 14px
  line-height: 1.5em
  font-family: 'Frutiger LT 55 Roman'

.margen-bot-3
  margin-left: 6em !important

.boton-enviar4
  background: #ff6800
  border: 0
  color: #fff
  margin-left: 2em
  border-radius: 5px
  padding: 6px 10px
  margin-right: 1em
  font-size: 14px
  line-height: 1.3em
  font-family: 'Frutiger LT 55 Roman'

.margen-bot-4
  margin-left: 2em !important

.boton-cotizador-retiro
  background: #ff6800
  border: 0
  color: #fff
  border-radius: 5px
  margin-top: 2em
  margin-left: 25px
  padding: 2px 8px
  margin-bottom: 3em
  margin-right: -22px
  font-size: 14px
  line-height: 1.5em
  font-family: 'Frutiger LT 55 Roman'

.boton1, .boton2
  margin-top: 17px
  margin-left: 7px

.boton6
  margin-top: -37px
  position: absolute
  margin-left: 13em

.boton7
  margin-top: -50px
  margin-left: 11em
  position: absolute

.fondo-gris
  background-color: #e5e5e5
  font-family: arial

.fullfa
  height: 100px

.midlgnp
  text-align: center

.fondo-azul
  background-color: #072e6e
  font-family: arial
  color: white
  width: 100%
  position: absolute
  right: 0px
  font-size: 13px
  padding: 15px

.texto-negro
  color: #686767
  font-family: arial
  font-size: 14px
  font-weight: 700

.numero
  font-size: 35px

.texto-chico
  font-size: 12px

.img-form
  height: 21px
  margin-top: 4px
  margin-bottom: -3px
  margin-right: 7px

.imagenes-forma
  height: 40px
  margin-bottom: -13px

.form-hijos
  margin: 1em

.texto-hover-form
  margin-top: 35px !important

.spacebut
  margin: 1em

.titulo-vida
  font-size: 13.5px !important

.video-gnp
  height: 165px

.margen-empresas
  padding: 0% 2% 0% 2%

.lignp, .boton-cotizador-retiro
  text-align: center

.btnpos
  text-align: center !important

.videopos
  text-align: center

.posbtn .boton6, .boton7
  text-align: center
  right: 2em !important

.fondo-tabla-azul
  color: white !important
  background-color: #072e6e

.titulocotauto
  color: #fff
  font-family: arial
  margin-top: 15px
  font-weight: bold
  text-align: left !important

.activo-cotizador
  margin-top: 4px
  background-color: #ff6e1f
  color: white !important
  display: block
  width: 100%
  height: 84%
  padding: 9px 24px !important
  font-size: 17px
  overflow: hidden
  -webkit-transition: color .28s ease
  transition: color .28s ease

.inactivo-cotizador
  background-color: #e5e5e5
  display: block
  width: 100%
  height: 100%
  padding: 0 24px
  font-size: 14px
  overflow: hidden
  -webkit-transition: color .28s ease
  transition: color .28s ease

.tabs1 .tab a
  padding: 0 12px

.png-enviar, .png-imprimir
  height: 32px
  margin-bottom: -1em

.png-vector-flecha
  height: 18px
  margin: 1em

.texto-color-gris
  color: #686767

.texto-deducible
  color: #1c4481

.titulo-cotizador-auto
  font-family: arial
  font-size: 1.2em
  color: #686767
  margin-top: 5px

.margen-vector
  margin-top: 11px
  margin-left: 16px !important

.margen-signo
  margin-top: 11px
  height: 36px
  margin-left: -4px !important
  width: 35px !important

.signo-de-interrogacion
  font-size: 2em !important
  color: #fff
  margin-top: 3px

.margen-vector-notificacion
  height: 12px
  margin-left: 8em

.modal1 .modal-close1
  background: #ff6800
  border: 0
  color: #fff
  border-radius: 5px

.boton-enviar-modal
  background: #ff6800
  border: 0
  color: #fff
  border-radius: 5px
  padding: 0px 17px
  font-size: 1.5em
  line-height: 1.5em
  font-family: 'Myriad Pro Regular'

@media only screen and (max-width: 995px)
  .boton-cotizador-auto
    font-size: 10px

.allhead
  background-color: #072e6e

.totalposcotauto
  display: inline-flex

.btntable a
  display: inline-block
  width: 100%
  height: 100%
  margin-bottom: 0.5em
  padding-top: .6em
  padding-bottom: .6em
  color: #fff
  background: #ff6800
  border-radius: 5px
  clear: right
  float: right

.boton-cotizador-auto
  background: #ff6800
  border: 0
  color: #fff
  border-radius: 5px
  padding: 5px 0px
  font-size: .6em
  line-height: 1.5em
  font-family: arial

.texto-negro2
  font-size: 12px
  color: #686767
  font-family: arial

.clase
  font-family: arial
  .select-wrapper input.select-dropdown
    font-size: 0.9rem !important

.tabs
  .tabcot a
    &:hover, &.active
      background-color: #ff6800 !important
      color: white !important
  .tab a:hover
    background-color: #ff6800 !important
    color: white !important
  .tabcot a
    color: #355489 !important
    display: block
    width: 100%
    height: 100%
    padding: 0 24px
    font-size: 14px
    overflow: hidden
    -webkit-transition: color .28s ease
    transition: color .28s ease

.contents-form
  padding: 18px !important

.ancho-lista
  width: 360px
  margin-left: -17px !important

.clase
  padding: 0rem !important

.imagen-vector-env-can
  height: 10px

.modal .modal-close
  background: #ff6e1f
  font-family: arial

.collapsible
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0) !important
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0) !important

.conocenos
  background-image: url(../img/conocenos.jpg)
  height: 300px
  background-position: center top
  background-size: cover

.al-publico-invercionista
  background-image: url(../img/al-publico-inversionista.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.organigrama
  background-image: url(../img/organigrama.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.sala-de-prensa
  background-image: url(../img/sala-de-prensa.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.vivir-es-increible
  background-image: url(../img/vivir-es-increible.jpg)
  height: 200px
  background-position: center
  background-size: cover

.vivir-es-increible2
  background-image: url(../img/vivir-es-increible2.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.vivir-es-increible3
  background-image: url(../img/vivir-es-increible3.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.flecha-inversion
  height: 8px
  margin-left: -12px
  margin-bottom: -19px

.fondo-directores
  color: white
  margin-bottom: 5px
  background-color: #ff6800
  border-radius: 5px
  height: 30px
  padding: 8px 0px 8px 13px
  font-size: 10.5px

.fondo-directores2
  color: #000
  margin-bottom: 5px
  background-color: #f1f1f1
  border-radius: 5px
  height: 39px
  padding: 8px 0px 8px 13px
  font-size: 10.3px

.fondo-transparente
  background-color: transparent !important

.boton-campañas
  -webkit-border-before: none
  -webkit-border-after: none
  outline: none
  background-color: #1c4481
  width: 140px
  font-size: 16px
  border-radius: 8px
  color: white
  border-right: none
  border-left: none
  &:hover
    -webkit-border-before: none
    -webkit-border-after: none
    outline: none
    background-color: #1c4481
    width: 140px
    font-size: 16px
    border-radius: 8px
    color: white
    border-right: none
    border-left: none

.conocenos-active
  background-color: white
  color: #1d3c7a

.punto-amarillo2
  left: -3em
  display: inline-block
  position: relative
  cursor: pointer
  height: 5px
  width: 5px
  margin: 2px 15px
  background-color: #ff6423
  -webkit-transition: background-color .3s
  transition: background-color .3s
  border-radius: 50%
  top: 21px

.punto-amarillo3
  left: -4em
  display: inline-block
  position: relative
  cursor: pointer
  height: 5px
  width: 5px
  margin: 2px 15px
  background-color: #ff6423
  -webkit-transition: background-color .3s
  transition: background-color .3s
  border-radius: 50%
  top: 21px

.punto-amarillo4
  left: -5em
  display: inline-block
  position: relative
  cursor: pointer
  height: 5px
  width: 5px
  margin: 2px 15px
  background-color: #ff6423
  -webkit-transition: background-color .3s
  transition: background-color .3s
  border-radius: 50%
  top: 21px

.punto-amarillo5
  left: -11em
  display: inline-block
  position: relative
  cursor: pointer
  height: 5px
  width: 5px
  margin: 2px 15px
  background-color: #ff6423
  -webkit-transition: background-color .3s
  transition: background-color .3s
  border-radius: 50%
  top: 21px

.punto-amarillo6
  left: -6em
  display: inline-block
  position: relative
  cursor: pointer
  height: 5px
  width: 5px
  margin: 2px 15px
  background-color: #ff6423
  -webkit-transition: background-color .3s
  transition: background-color .3s
  border-radius: 50%
  top: 21px

.punto-amarillo7
  left: -5em
  display: inline-block
  position: relative
  cursor: pointer
  height: 5px
  width: 5px
  margin: 2px 15px
  background-color: #ff6423
  -webkit-transition: background-color .3s
  transition: background-color .3s
  border-radius: 50%
  top: 21px

@media only screen and (min-width: 993px)
  .all-gnp
    display: none

.box
  display: none
  padding: 20px
  margin-top: 20px

.urlblue a
  color: #072e6e !important

.botontab
  font-size: 9px !important
  line-height: 8pt !important
  padding: 7pt 0pt !important

.listanaranja
  text-indent: 0em
  margin-left: 2em
  li
    list-style-type: disc !important
    color: #ff6423
    font-size: 2em
    line-height: .7em
  .tip-text
    display: inline

.prehoverbtn
  background-color: #DFDFDF !important
  -webkit-box-shadow: none
  box-shadow: none
  color: #9F9F9F !important

.flecha-selector
  margin-bottom: -2px
  margin-left: -18px
  margin-right: 4px
  height: 14px

.bienvenido
  background-image: url(../img/bienvenido.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.quieres
  background-image: url(../img/quieres-ser-parte.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.cuida-tu-salud
  background-image: url(../img/cuida-tu-salud.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.juegos
  background-image: url(../img/juegos.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.juegos-slider
  background-image: url(../img/juegos-slider.jpg)
  height: 200px
  background-position: center
  background-size: cover

.responsabilidad
  background-image: url(../img/responsabilidad.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.responsabilidad-social-empresarial
  background-image: url(../img/responsabilidad-social-empresarial.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.aviso-privacidad-col-negro
  color: #000

.flecha-aviso-privacidad
  margin-bottom: 2px
  margin-left: -14px
  margin-right: 6px
  height: 7px

.unete
  background-image: url(../img/unete.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.programa-asociado
  background-image: url(../programa-asociado.jpg)
  height: 200px
  background-position: center
  background-size: cover

.responsabilidad-social
  background-image: url(../responsabilidad-social.jpg)
  height: 200px
  background-position: center
  background-size: cover

.gol-por-mexico
  background-image: url(../img/gol-por-mexico.jpg)
  height: 200px
  background-position: center
  background-size: cover

.gol
  background-image: url(../gol.jpg)
  height: 200px
  background-position: center
  background-size: cover

.vivir
  background-image: url(../img/vivr.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.oneline
  display: flex
  text-align: center

.margen-cotizadores-finales
  margin-top: -25px

.margen-cotizadores-finales2
  margin-top: 41px
  margin-bottom: -6px
  margin-left: -11px

.seguro-basico-estandarizado-de-vida
  background-image: url(../img/seguro-basico-estandarizado-de-vida.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.cami
  margin: inherit !important
  border-left: 0px solid #ddd !important
  border-right: 0px solid #ddd !important
  border-top: 0px solid #ddd !important

.spacearrow
  margin-right: 5px

.collhea
  border-bottom: 0px solid #ddd !important
  line-height: .7 !important

.collbod
  padding: .5rem !important

form
  p, span
    font-family: arial !important
    font-size: 12px !important

.nopads
  padding: 0 !important

.buscador-agentes
  background-image: url(../img/unete.jpg)
  height: 200px
  background-position: center top
  background-size: cover

.buscador-agentes-iconos
  display: inline-block !important
  margin-top: 15px
  margin-bottom: -4px
  height: 25px

.imagen-forma-buscador-agente
  height: 6em

.imagenes-agentes
  height: 60px
  margin-left: -8px

.buscador-agentes-iconos2
  display: block !important
  margin-top: 15px
  margin-bottom: -23px
  height: 25px
  margin-left: 0px

.boton-env-buscador
  background-color: #ff6800 !important
  border: 0
  color: #fff !important
  border-radius: 5px
  padding: 2px 8px
  font-size: 1.5em
  line-height: 1.5em
  font-family: 'Frutiger LT 55 Roman'
  margin-top: -75px