@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    height: auto!important;
  }
}

@media only screen and (max-width: 995px){        /*ESTILOS PARA TABLET*/
  .info-carrucel{width: 100%!important ;background: transparent;display: block;}
/*  .carousel-slider{height: 635px!important;}*/
  .text-carrucel{bottom: 0px;position: absolute;width: 100%;background-color:  rgba(255, 255, 255, 0.79);padding:6% 25%;}
  .info-carrucel h2{margin:10px 0px;}
  .azul-predo{display: block!important;}
  .slider .rows{display: none!important;}
  .noticias h6{font-size: 12px!important;width:15%!important;}
  .ca-nav .carousel-item a{font-size: 12px!important}
  .boton-menu{margin-bottom: 10px;}
  ul#sub-menu{justify-content: flex-start;}
  .copyright{font-size: 12px;}
  #shadow-carrucel{display: none;}
  .redes .modal-trigger{display: none!important;}
  .ca-nav{width: 80%!important;overflow: hidden;}
  .noticias{flex-wrap: wrap;height: 65px!important;}
    .noticias .rows{width: 100%;text-align: center}
    .navigation{margin-bottom: 0px;}
    .slider{height: 637px!important}
    .slider .slides{height: 637px!important}
    .info-carrucel{width: 100%!important ;background: transparent;display: block;}
  /*  .carousel-slider{height: 635px!important;}*/
    .noticias{height: 75px!important}
    .noticias h6{width: 100%;display: inline-block;text-align: center;}
    .ca-nav{display: inline-block;height: 20px!important;}
    .carrete .rows{width: 100%;text-align: center;}
    .redes .modal-trigger{display: block;width: 100%;padding: 10px 0px;}
    .redes{float: none!important;transition: 1s;}
    .slider .rows{display: none;}
    .orange-btn{}
    .redes a{width: 100%;}
    #modal2{width: 50%;}
    .smenu{border-right: 0px}
    .sub-menu{border-bottom: 3px solid #ccc;}
    .botonera{border-bottom: 3px solid #ccc}
}
@media only screen and (max-width: 599px){
  .sub-menu{background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 31%, rgba(252,252,252,1) 71%, rgba(226,226,226,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(31%, rgba(252,252,252,1)), color-stop(71%, rgba(252,252,252,1)), color-stop(100%, rgba(226,226,226,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 31%, rgba(252,252,252,1) 71%, rgba(226,226,226,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 31%, rgba(252,252,252,1) 71%, rgba(226,226,226,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 31%, rgba(252,252,252,1) 71%, rgba(226,226,226,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 31%, rgba(252,252,252,1) 71%, rgba(226,226,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#e2e2e2', GradientType=0 );}
.main .container{width: 100%!important;}
  .copyright{text-align: center;}
  .redes{text-align: center}
  .sellos{text-align: center}
  .noticias h6{width: 25%!important}
  .ca-nav{width: 72%!important}
  .nav-list li{max-width: inherit;min-width: inherit;width: 25%!important;margin-left: 0px;}
  {width: 100%;text-align: center;}
  .top{overflow: hidden;display: flex;align-items:center;border-bottom: 0px;-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);z-index: 1000;}
  .navigation{margin-bottom: 0px;}
  .carrete{-webkit-box-shadow: 0px -2px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px -2px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px -2px 10px 0px rgba(50, 50, 50, 0.75);}
  nav{height: auto!important;}
  .nav-list li a{font-size: 16px;}
  #modal2{width: 80%;}
  .top div{width: 40%;}
  .top div img{width: 100%;}
}
