/*
Css Created by Carlos Aguirre
carlosaguirre.tk
*/
/*----------------------------GENERALES-------------------------------*/

*{font-family: 'Frutiger LT Std';margin: 0px;}
i{color: #000}
/*--------------------------------TOP---------------------------------*/
.top{padding: 10px 2%;position: relative;border-bottom: 1px solid #cccccc}
.top div{display: inline-block;}
.slogan{float: right;}
.row{margin-bottom: 0px;}
/*----------------------------Navegacion------------------------------*/
nav{background-color: #fff!important;box-shadow: initial;border-bottom: 1px solid #cccccc}
.navigation{margin-bottom:15px;}
.nav-list{display: flex;justify-content: center}
.nav-list li{max-width: 150px;min-width: 150px;text-align: center;}
.nav-list li a{font-size: 17.19pt;text-transform: uppercase;height: 72px; color: #1c4481;font-family: 'ITC Franklin Gothic Std';font-weight: 500;line-height: 22px;display: flex;align-items: center;justify-content: center;}
.nav-list li.active a{position: relative;background-color: #fff;}
.nav-list li.active a:after{content: "";border-top: 10px solid #ff6e1f;position: absolute;width: 100%;bottom: 0px;left: 0px;}
/*-----------------------------Carrucel-------------------------------*/
#shadow-carrucel{background-image: url('../img/shadow-carrucel.png');height: 119px;width: 100%;position: absolute;bottom: 0px;z-index: 1000;}
.carousel .indicators{z-index: 10000000000000;}
.carousel .indicators .indicator-item.active{background-color: #ff6e1f;}
.info-carrucel{display: flex;flex-direction: column;justify-content: center;width: 50%!important;position: absolute;height: 100%;top: 0px!important;right: 0px;background-color: rgba(255, 255, 255, 0.79);text-align: center;}
.info-carrucel h2{color: #213e7b;font-size: 55pt;font-family: 'Frutiger LT Std';}
.orange-btn{background-color:#ff6e1f;-webkit-box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.27);display: inline-table;margin: 0 auto;
-moz-box-shadow:    0px -5px 5px 0px rgba(50, 50, 50, 0.27);
box-shadow:         0px -5px 5px 0px rgba(50, 50, 50, 0.27);border-radius: 5px;margin-bottom: 35px;}
.orange-btn:hover{background-color: #213e7b}
.text-carrucel{font-family: 'Frutiger LT 55 Roman';font-size: 16.22pt;color: #213e7b;line-height: 20px;width: 200px;margin:0 auto;}
.text-carrucel strong{font-family: 'Frutiger LT Std';font-weight: bold;font-size: 16.22pt;}
.slider .slides li .caption{left: initial!important;}
.slider{height: 400px!important;}
.slider .indicators{z-index: 1000}
.slider .indicators .indicator-item.active{background-color: #ff6e1f;}
.arrowresponsible i{color: #fff!important;font-size: 92px;text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);cursor: pointer;}
.arrowresponsible{z-index: 10000000000000000000000000000000;display: none;position: absolute;bottom: 50px;margin: 0 auto;left: 0px;right: 0px;}
.azul-predo{background-color: #213e7b;margin-top: 10px;margin-bottom: 0px; display: none;}
/*-----------------------------Noticias-------------------------------*/
.noticias{padding: 15px 0px;overflow: hidden;display: flex;justify-content: center;height: 35px!important;}
.noticias .slides{height:35px!important;}
.noticias .slides li{display: inline-block;box-sizing: border-box;}
.noticias .slides li.active{position: absolute;top: 0;}
.noticias h6{margin: 0px;color:#1c4481;font-weight: bold;text-decoration:underline;font-size: 14pt;border-right: 1px solid #ccc;padding-right: 20px;display: inline-table;}
.main{background-color: #edece6;}
.ca-nav{height: 20px!important;width: 60%!important;}
.ca-nav .indicators{display: none;}
    .ca-nav .carousel-item a{display: block;text-align: left;color: #464546;font-weight: bold}
.alerta-icon{color:#eeab1a;}
.carousel.carousel-slider .carousel-item{min-height: auto!important;height: 50%}
.slider .rows{position: absolute; bottom: 60%;display: block;font-size: 62px;width: 100%;z-index: 10;}
.slider .rows div{display: inline-block;padding: 0px 50px;z-index: 10;}
.slider .rows div.nextSlide{float: right}
.rows i{margin:0px 5px;color: #ff6e1f;cursor: pointer;}
.fa-pause{font-size: 12px!important;}
.modal.bottom-sheet{max-height: 65%!important;}
.slides{z-index: 100000000000000;}
.ca-nav .carousel-item{padding-left: 20px}
/*-----------------------------Boton Menu-------------------------------*/
.botonera{padding: 20px;border-bottom: 1px solid #ccc;}
.boton-menu{padding: 0px 10px;background-color: #213e7b;display: flex;flex-direction: column;justify-content: center;border-radius: 5px;text-align: center;font-family:'Frutiger 55 Roman';color:#fff; font-size: 15px;height: 95px;line-height: 17px;}
.boton-menu img{display: block;margin: 0 auto;}
/*-----------------------------Sub Menu-------------------------------*/
.sub-menu{padding: 25px 0px;border-bottom: 1px solid #ccc;overflow: hidden!important;}
ul#sub-menu{list-style-type: none;display: flex;justify-content: center;align-items: center;}
.smenu{padding: 0px 20px;border-right: 3px solid #d2d1cc;text-align: center;min-width: 170px;}
.smenu a{font-family: 'Arial';font-weight: 900;color:#676766;font-size: 12px;}
#scroller div{padding-right: 0px!important;}
/*-----------------------------Footer-------------------------------*/
footer{padding: 25px 15%;}
.redes{float: right;}
/*-----------------------------Modal-------------------------------*/
.descripcion-seguro{padding: 15% 15%;}
.descripcion-seguro h3{font-family: 'Arial';font-size: 19px;font-weight: bold;color:#686767;}
.descripcion{color: #383838;font-family: 'Arial';font-size: 12.66px;}
#enlaces-seguro li a{color: #ff681e;}
#enlaces-seguro li a i{color: #ff681e; margin-right: 10px;}
.input-field .select-wrapper{margin-right: 20px;}
.input-field label{width: 80%!important;margin-left: 25px;color: #072e6e;font-family: 'Helvetica'}
.input-field p.choice label{position: relative!important;}
.input-field{text-align: center;}
.title-form{color: #fff;background: #072e6e;font-family: 'Arial';font-size: 12px;text-align: center;padding: 10px;}
.modal .modal-content{padding: 0px;}
.modal-content .col{padding: 0px;}
.formulario-cotiza{background-color: #e5e5e5;}
.carousel-item.active{width: 100%!important}
#modal2{min-height: 100%!important;width: 30%;left: initial;}
h3.articulosInteres{color: #fff;background: orange;padding: 20px 0px;font-size: 22px;text-align: center;}
#articulosInteres{padding: 20px;background: transparent;box-shadow: initial;border: 0px;}
.collapsible-header{padding: 0px;border-bottom: 0px;background: transparent;color: #ffa500;}
.collapsible-header i{color: #ffa500;}
.redes a{font-family: arial;font-weight: bold;font-size: 12px;color: #676766;margin-left: 10px}
.descripcion{padding: 20px 0px}
.input-field.col label{margin: 0px;font-family: 'Arial';}
.contents-form{padding: 10px;}
.select-wrapper input.select-dropdown{height: 3rem!important}
#boton-env{background: #ff681e;border:0px;color:#fff;border-radius: 5px;padding: 5px 20px;}
.modal .modal-close{background: #072e6e;border:0px;color:#fff;border-radius: 5px;}
input[type="text"]:not(.browser-default){width: 90%;}
.submit-field{text-align: left!important;}
.dropdown-content li{min-height: 30px;}
.obligatorio spam{color:#ff681e}
.dropdown-content li > a, .dropdown-content li > span{color: #072e6e}
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input-field.choice label{pointer-events: all;}
.choice p{display: inline-block;}
.choice span{display: block;color: #072e6e;font-family: 'Arial'}
.choice{text-align: left;margin-top: 0px;}
.banner{text-align: center;margin-top: 30px}
.banner h3{color: #072e6e;font-family: 'Frutiger LT Std'!important; font-weight: 100;font-size: 1.6rem;letter-spacing: -.5px;margin-bottom: 10px;}
.banner h3 span{color: #ff681e;text-shadow: 0px 0px 6px rgba(150, 150, 150, 1);}
.banner h4{font-size: 1.6rem;color: #072e6e}
.responsible{display: none;animation: fadeIn 1s;}
