@font-face {
  font-family: 'gnp-bold';
  src: url('gpn-bold.eot');
  src: url('gpn-bold.woff2') format('woff2'),
       url('gnp-bold.woff') format('woff'),
       url('gnp-bold.ttf') format('truetype'),
       url('gnp-bold.svg#gnp-bold') format('svg'),
       url('gpn-bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

