@font-face {
  font-family: 'gnp-mid';
  src: url('gnp-mid.eot');
  src: url('gnp-mid.woff2') format('woff2'),
       url('gnp-mid.woff') format('woff'),
       url('gnp-mid.ttf') format('truetype'),
       url('gnp-mid.svg#gnp-mid') format('svg'),
       url('gnp-mid.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

