@font-face {
  font-family: 'gnp-light';
  src: url('gnp-light.eot');
  src: url('gnp-light.woff2') format('woff2'),
       url('gnp-light.woff') format('woff'),
       url('gnp-light.ttf') format('truetype'),
       url('gnp-light.svg#gnp-light') format('svg'),
       url('gnp-light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

